**step 5**

In the previous step (step-3) I unable to found any missing values.

**finding outlier**

In [33]:
import pandas as pd
import numpy as np
dataset=pd.read_csv('adult.csv')
dataset

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**iqr method**

In [41]:
# for calculating z-score i'll consider values from age in the given dataset

# detecting outliers using z-score

# formula=(obs-mean)/std dev

import numpy as np

data=[25,38,28,44,18]

outliers=[]
def detect_outlier(data):
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i - mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [42]:
outlier_pt = detect_outlier(data)
outlier_pt

[]

In [43]:
sorted(data)

[18, 25, 28, 38, 44]

In [44]:
quantile1 , quantile3 = np.percentile(data,[25,75])
print(quantile1, quantile3)

25.0 38.0

In [45]:
iqr_value = quantile3 - quantile1
print(iqr_value)

13.0

In [46]:
# find lower value and the higher

lower_val =  quantile1 - (1.5 * iqr_value)

higher_val =  quantile1 + (1.5 * iqr_value)

print(lower_val , higher_val)

5.5 44.5

In [47]:
# for calculating z-score i'll consider values from educational-num in the given dataset

# detecting outliers using z-score

# formula=(obs-mean)/std dev

import numpy as np

data=[7,9,12,10,10]

outliers=[]
def detect_outlier(data):
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i - mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [48]:
outlier_pt = detect_outlier(data)
outlier_pt

[]

In [49]:
sorted(data)

[7, 9, 10, 10, 12]

In [50]:
quantile1 , quantile3 = np.percentile(data,[25,75])
print(quantile1, quantile3)

9.0 10.0

In [51]:
iqr_value = quantile3 - quantile1
print(iqr_value)

1.0

In [52]:
# find lower value and the higher

lower_val =  quantile1 - (1.5 * iqr_value)

higher_val =  quantile1 + (1.5 * iqr_value)

print(lower_val , higher_val)

7.5 10.5

In [53]:
# for calculating z-score i'll consider values from hour-per-week in the given dataset

# detecting outliers using z-score

# formula=(obs-mean)/std dev

import numpy as np

data=[40,50,40,40,30]

outliers=[]
def detect_outlier(data):
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i - mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [54]:
outlier_pt = detect_outlier(data)
outlier_pt

[]

In [55]:
sorted(data)

[30, 40, 40, 40, 50]

In [56]:
quantile1 , quantile3 = np.percentile(data,[25,75])
print(quantile1, quantile3)

40.0 40.0

In [57]:
iqr_value = quantile3 - quantile1
print(iqr_value)

0.0

In [58]:
# find lower value and the higher

lower_val =  quantile1 - (1.5 * iqr_value)

higher_val =  quantile1 + (1.5 * iqr_value)

print(lower_val , higher_val)

40.0 40.0

**1. HYPOTHESIS TESTING(GRUBBS TEST)**

In [62]:
import numpy as np
import scipy.stats as stats

age_data = np.array([25,38,28,44,18])
hour_per_week_data = np.array([40,50,40,40,30])

In [63]:
def grubbs_test(age_data):
    n = len(age_data)
    mean_age_data = np.mean(age_data)
    sd_age_data = np.std(age_data)
    numerator = max(abs(age_data-mean_age_data))
    g_calculated = numerator/sd_age_data
    print("Grubbs Calculated Value:",g_calculated)
    t_value = stats.t.ppf(1 - 0.05 / (2 * n), n - 2)
    g_critical = ((n - 1) * np.sqrt(np.square(t_value))) / (np.sqrt(n) * np.sqrt(n - 2 + np.square(t_value)))
    print("Grubbs Critical Value:",g_critical)
    if g_critical > g_calculated:
        print("From grubbs_test we observe that calculated value is lesser than critical value, Accept null hypothesis and conclude that there is no outliers\n")
    else:
        print("From grubbs_test we observe that calculated value is greater than critical value, Reject null hypothesis and conclude that there is an outliers\n")
grubbs_test(age_data)
grubbs_test(hour_per_week_data)

Grubbs Calculated Value: 1.4429471490507257
Grubbs Critical Value: 1.7150373121065823
From grubbs_test we observe that calculated value is lesser than critical value, Accept null hypothesis and conclude that there is no outliers

Grubbs Calculated Value: 1.5811388300841895
Grubbs Critical Value: 1.7150373121065823
From grubbs_test we observe that calculated value is lesser than critical value, Accept null hypothesis and conclude that there is no outliers

**2. Z-SCORE METHOD**

In [64]:
import pandas as pd
import numpy as np

data=pd.read_csv('adult.csv')
data

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [67]:
out=[]
def Zscore_outlier(df):
    m = np.mean(df)
    sd = np.std(df)
    for i in df: 
        z = (i-m)/sd
        if np.abs(z) > 3: 
            out.append(i)
    print("Outliers:",out)
Zscore_outlier(data['age'])

Outliers: [80, 90, 80, 81, 82, 83, 81, 85, 80, 90, 81, 84, 81, 89, 81, 83, 81, 82, 80, 90, 81, 83, 80, 90, 90, 84, 80, 80, 80, 81, 90, 85, 90, 81, 81, 80, 80, 81, 80, 88, 87, 90, 83, 80, 90, 81, 81, 90, 82, 90, 87, 81, 88, 80, 81, 80, 81, 90, 88, 89, 84, 80, 80, 83, 81, 90, 80, 81, 90, 88, 90, 90, 80, 90, 81, 82, 81, 80, 83, 90, 90, 81, 90, 90, 80, 90, 90, 84, 90, 80, 90, 81, 83, 84, 81, 85, 82, 80, 90, 90, 90, 84, 80, 90, 90, 84, 90, 90, 90, 90, 82, 81, 90, 84, 81, 82, 81, 80, 90, 80, 84, 82, 90, 84, 90, 83, 81, 80, 80, 80, 90, 90, 80, 90, 90, 81, 83, 82, 90, 90, 81, 80, 80, 90, 80, 82, 85, 80, 90, 81, 80, 81, 82, 88, 90, 82, 88, 84, 83, 86, 90, 90, 82, 83, 81, 90, 80, 81, 84, 84, 90, 80, 81, 81, 81, 90, 87, 90, 80, 80, 82, 90, 90, 85, 82, 81]

# Conclusion of EDA

Exploratory Data Analysis (EDA) and Data Visualization are powerful tools and that can highlight problems to be addressed, lead to insights, and suggest patterns in the date.  They do not, however, allow strong comparisons to be drawn or provide estimates of how confident the analyst can be in his or her conclusions.  Here, we will review what you can learn from EDA and how this impacts options for further analysis.

-Violation of underlying Assumptions (distributional and otherwise)

-What you have to work with (e.g., range, missing data)

-Consequences and remedies

-Outliers – considerations (don’t get rid of them!)