In [1]:
# importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# import dataset

dataset=pd.read_excel('data_set.xlsx')
dataset

,Unnamed: 0,ID,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,train,203097,420000,2012-06-01,present,senior quality engineer,Bangalore,f,1990-02-19,84.30,...,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,train,579905,500000,2013-09-01,present,assistant manager,Indore,m,1989-10-04,85.40,...,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,train,810601,325000,2014-06-01,present,systems engineer,Chennai,f,1992-08-03,85.00,...,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,train,267447,1100000,2011-07-01,present,senior software engineer,Gurgaon,m,1989-12-05,85.60,...,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,train,343523,200000,2014-03-01,2015-03-01 00:00:00,get,Manesar,m,1991-02-27,78.00,...,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3993,train,47916,280000,2011-10-01,2012-10-01 00:00:00,software engineer,New Delhi,m,1987-04-15,52.09,...,-1,-1,-1,-1,-1,-0.1082,0.3448,0.2366,0.64980,-0.9194
3994,train,752781,100000,2013-07-01,2013-07-01 00:00:00,technical writer,Hyderabad,f,1992-08-27,90.00,...,-1,-1,-1,-1,-1,-0.3027,0.8784,0.9322,0.77980,-0.0943
3995,train,355888,320000,2013-07-01,present,associate software engineer,Bangalore,m,1991-07-03,81.86,...,-1,-1,-1,-1,-1,-1.5765,-1.5273,-1.5051,-1.31840,-0.7615
3996,train,947111,200000,2014-07-01,2015-01-01 00:00:00,software developer,Asifabadbanglore,f,1992-03-20,78.72,...,438,-1,-1,-1,-1,-0.1590,0.0459,-0.4511,-0.36120,-0.0943
3997,train,324966,400000,2013-02-01,present,senior systems engineer,Chennai,f,1991-02-26,70.60,...,-1,-1,-1,-1,-1,-1.1128,-0.2793,-0.6343,1.32553,-0.6035

In [3]:
# STEP-2


# I'll set limit as 10

dataset.head(10)

,Unnamed: 0,ID,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,train,203097,420000,2012-06-01,present,senior quality engineer,Bangalore,f,1990-02-19,84.30,...,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,train,579905,500000,2013-09-01,present,assistant manager,Indore,m,1989-10-04,85.40,...,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,train,810601,325000,2014-06-01,present,systems engineer,Chennai,f,1992-08-03,85.00,...,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,train,267447,1100000,2011-07-01,present,senior software engineer,Gurgaon,m,1989-12-05,85.60,...,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,train,343523,200000,2014-03-01,2015-03-01 00:00:00,get,Manesar,m,1991-02-27,78.00,...,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295
5,train,1027655,300000,2014-06-01,present,system engineer,Hyderabad,m,1992-07-02,89.92,...,407,-1,-1,-1,-1,-0.3027,-0.6201,-2.2954,-0.74150,-0.8608
6,train,947847,300000,2014-08-01,2015-05-01 00:00:00,java software engineer,Banglore,m,1993-02-01,86.08,...,346,-1,-1,-1,-1,1.7081,-0.1054,-1.0379,-2.00920,-1.0872
7,train,912934,400000,2014-07-01,2015-07-01 00:00:00,mechanical engineer,Bangalore,m,1992-05-27,92.00,...,-1,469,-1,-1,-1,-0.0154,1.2114,0.0100,0.14590,1.2470
8,train,552574,600000,2013-07-01,present,electrical engineer,Noida,m,1991-09-17,90.00,...,-1,-1,-1,-1,-1,-0.1590,0.5454,-0.6048,-0.74150,-0.2859
9,train,1203363,230000,2014-07-01,present,project engineer,Kolkata,m,1993-06-13,77.00,...,-1,-1,-1,-1,-1,-1.3080,0.5454,-0.9122,0.90660,0.0973

In [4]:
# shape

dataset.shape

(3998, 39)

In [5]:
# description of the data

dataset.describe()

,ID,Salary,10percentage,12graduation,12percentage,CollegeID,CollegeTier,collegeGPA,CollegeCityID,CollegeCityTier,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
count,3.998000e+03,3.998000e+03,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,...,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000
mean,6.637945e+05,3.076998e+05,77.925443,2008.087544,74.466366,5156.851426,1.925713,71.486171,5156.851426,0.300400,...,90.742371,22.974737,16.478739,31.851176,2.683842,-0.037831,0.146496,0.002763,-0.169033,-0.138110
std,3.632182e+05,2.127375e+05,9.850162,1.653599,10.999933,4802.261482,0.262270,8.167338,4802.261482,0.458489,...,175.273083,98.123311,87.585634,104.852845,36.658505,1.028666,0.941782,0.951471,1.007580,1.008075
min,1.124400e+04,3.500000e+04,43.000000,1995.000000,40.000000,2.000000,1.000000,6.450000,2.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-4.126700,-5.781600,-4.600900,-2.643000,-7.375700
25%,3.342842e+05,1.800000e+05,71.680000,2007.000000,66.000000,494.000000,2.000000,66.407500,494.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.713525,-0.287100,-0.604800,-0.868200,-0.669200
50%,6.396000e+05,3.000000e+05,79.150000,2008.000000,74.400000,3879.000000,2.000000,71.720000,3879.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.046400,0.212400,0.091400,-0.234400,-0.094300
75%,9.904800e+05,3.700000e+05,85.670000,2009.000000,82.600000,8818.000000,2.000000,76.327500,8818.000000,1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.702700,0.812800,0.672000,0.526200,0.502400
max,1.298275e+06,4.000000e+06,97.760000,2013.000000,98.700000,18409.000000,2.000000,99.930000,18409.000000,1.000000,...,715.000000,623.000000,676.000000,548.000000,516.000000,1.995300,1.904800,2.535400,3.352500,1.822400

In [6]:
# detect Outliers

dataset.head(5)

,Unnamed: 0,ID,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,train,203097,420000,2012-06-01,present,senior quality engineer,Bangalore,f,1990-02-19,84.3,...,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,train,579905,500000,2013-09-01,present,assistant manager,Indore,m,1989-10-04,85.4,...,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,train,810601,325000,2014-06-01,present,systems engineer,Chennai,f,1992-08-03,85.0,...,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,train,267447,1100000,2011-07-01,present,senior software engineer,Gurgaon,m,1989-12-05,85.6,...,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,train,343523,200000,2014-03-01,2015-03-01 00:00:00,get,Manesar,m,1991-02-27,78.0,...,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [7]:
# for calculating z-score i'll consider values from 10percentage in the given dataset

# detecting outliers using z-score

# formula=(obs-mean)/std dev

data=[84.3,85.4,85.0,85.6,78.0]

In [8]:
outliers=[]
def detect_outlier(data):
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i - mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [9]:
outlier_pt = detect_outlier(data)

In [10]:
outlier_pt

[]

In [11]:
sorted(data) 
# quantile1 , quantile3 = np.percentile(dataset,[25,75])

[78.0, 84.3, 85.0, 85.4, 85.6]

In [12]:
quantile1 , quantile3 = np.percentile(data,[25,75])

In [13]:
print(quantile1, quantile3)

84.3 85.4

In [14]:
iqr_value = quantile3 - quantile1
print(iqr_value)

1.1000000000000085

In [15]:
# find lower value and the higher

lower_val =  quantile1 - (1.5 * iqr_value)

higher_val =  quantile1 + (1.5 * iqr_value)

In [16]:
print(lower_val , higher_val)

82.64999999999998 85.95000000000002

In [18]:
# detect outlier for column 12percentage

ds=[95.5,85,68.2,83.6,76.8]

In [19]:
outliers=[]
def detect_outlier(data):
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i - mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [20]:
outlier_pt = detect_outlier(data)

In [21]:
outlier_pt

[]

In [22]:
sorted(data)

[78.0, 84.3, 85.0, 85.4, 85.6]

In [24]:
quantile1 , quantile3 = np.percentile(data,[25,75])
print(quantile1, quantile3)

84.3 85.4

In [25]:
iqr_value = quantile3 - quantile1
print(iqr_value)

1.1000000000000085

In [27]:
lower_val =  quantile1 - (1.5 * iqr_value)

higher_val =  quantile1 + (1.5 * iqr_value)

print(lower_val , higher_val)

82.64999999999998 85.95000000000002

In [29]:
# detect outlier from colum college tier

data=[2,2,2,1,2]

In [30]:
outliers=[]
def detect_outlier(data):
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i - mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [31]:
outlier_pt = detect_outlier(data)
outlier_pt

[]

In [32]:
sorted(data)

[1, 2, 2, 2, 2]

In [33]:
quantile1 , quantile3 = np.percentile(data,[25,75])
print(quantile1, quantile3)

2.0 2.0

In [34]:
iqr_value = quantile3 - quantile1
print(iqr_value)

0.0

In [35]:
lower_val =  quantile1 - (1.5 * iqr_value)

higher_val =  quantile1 + (1.5 * iqr_value)

print(lower_val , higher_val)

2.0 2.0

In [36]:
# detect outlier from column English

data=[515,695,615,635,545]

In [37]:
outliers=[]
def detect_outlier(data):
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i - mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [38]:
outlier_pt = detect_outlier(data)
outlier_pt

[]

In [39]:
sorted(data)

[515, 545, 615, 635, 695]

In [40]:
quantile1 , quantile3 = np.percentile(data,[25,75])
print(quantile1, quantile3)

545.0 635.0

In [41]:
iqr_value = quantile3 - quantile1
print(iqr_value)

90.0

In [42]:
lower_val =  quantile1 - (1.5 * iqr_value)

higher_val =  quantile1 + (1.5 * iqr_value)

print(lower_val , higher_val)

410.0 680.0

In [43]:
# detect outlier from colum Logical
data=[585,695,545,635,545]

In [44]:
outliers=[]
def detect_outlier(data):
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i - mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [45]:
outlier_pt = detect_outlier(data)
outlier_pt

[]

In [46]:
sorted(data)

[545, 545, 585, 635, 695]

In [47]:
quantile1 , quantile3 = np.percentile(data,[25,75])
print(quantile1, quantile3)

545.0 635.0

In [48]:
iqr_value = quantile3 - quantile1
print(iqr_value)

90.0

In [49]:
lower_val =  quantile1 - (1.5 * iqr_value)

higher_val =  quantile1 + (1.5 * iqr_value)

print(lower_val , higher_val)

410.0 680.0

In [50]:
# detect outlier from colum Quant

data=[525,780,370,625,465]

In [51]:
outliers=[]
def detect_outlier(data):
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i - mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [52]:
outlier_pt = detect_outlier(data)
outlier_pt

[]

In [53]:
sorted(data)

[370, 465, 525, 625, 780]

In [54]:
quantile1 , quantile3 = np.percentile(data,[25,75])
print(quantile1, quantile3)

465.0 625.0

In [55]:
iqr_value = quantile3 - quantile1
print(iqr_value)

160.0

In [56]:
lower_val =  quantile1 - (1.5 * iqr_value)

higher_val =  quantile1 + (1.5 * iqr_value)

print(lower_val , higher_val)

225.0 705.0

In [61]:
# detect outliers from colum conscientiousness

data=[0.9737, -0.7335, 0.2718,0.0464, -0.881]

In [62]:
outliers=[]
def detect_outlier(data):
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i - mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [63]:
outlier_pt = detect_outlier(data)
outlier_pt

[]

In [64]:
sorted(data)

[-0.881, -0.7335, 0.0464, 0.2718, 0.9737]

In [65]:
quantile1 , quantile3 = np.percentile(data,[25,75])
print(quantile1, quantile3)

-0.7335 0.2718

In [66]:
iqr_value = quantile3 - quantile1
print(iqr_value)

1.0053

In [67]:
lower_val =  quantile1 - (1.5 * iqr_value)

higher_val =  quantile1 + (1.5 * iqr_value)

print(lower_val , higher_val)

-2.2414500000000004 0.7744500000000001

In [68]:
# detect outliers from colum extraversion
data=[0.5269, 1.2396, 0.1637, -0.344, -1.0697]

In [69]:
outliers=[]
def detect_outlier(data):
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i - mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [70]:
outlier_pt = detect_outlier(data)
outlier_pt

[]

In [71]:
sorted(data)

[-1.0697, -0.344, 0.1637, 0.5269, 1.2396]

In [72]:
quantile1 , quantile3 = np.percentile(data,[25,75])
print(quantile1, quantile3)

-0.344 0.5269

In [73]:
iqr_value = quantile3 - quantile1
print(iqr_value)

0.8709

In [74]:
lower_val =  quantile1 - (1.5 * iqr_value)

higher_val =  quantile1 + (1.5 * iqr_value)

print(lower_val , higher_val)

-1.65035 0.9623500000000001

In [75]:
# detect outliers from colum agreeableness
data=[0.8128,0.3789,1.7109, 0.3448, -0.2793]

In [76]:
outliers=[]
def detect_outlier(data):
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i - mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [77]:
outlier_pt = detect_outlier(data)
outlier_pt

[]

In [78]:
sorted(data)

[-0.2793, 0.3448, 0.3789, 0.8128, 1.7109]

In [79]:
quantile1 , quantile3 = np.percentile(data,[25,75])
print(quantile1, quantile3)

0.3448 0.8128

In [80]:
iqr_value = quantile3 - quantile1
print(iqr_value)

0.46799999999999997

In [81]:
lower_val =  quantile1 - (1.5 * iqr_value)

higher_val =  quantile1 + (1.5 * iqr_value)

print(lower_val , higher_val)

-0.35719999999999996 1.0468

In [84]:
# detect outliers from colum nueroticism
data=[1.3549, -0.1076, -0.8682 ,-0.4078, 0.09163]

In [85]:
outliers=[]
def detect_outlier(data):
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i - mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [86]:
outlier_pt = detect_outlier(data)
outlier_pt

[]

In [87]:
sorted(data)

[-0.8682, -0.4078, -0.1076, 0.09163, 1.3549]

In [88]:
quantile1 , quantile3 = np.percentile(data,[25,75])
print(quantile1, quantile3)

-0.4078 0.09163

In [89]:
iqr_value = quantile3 - quantile1
print(iqr_value)

0.49943

In [90]:
lower_val =  quantile1 - (1.5 * iqr_value)

higher_val =  quantile1 + (1.5 * iqr_value)

print(lower_val , higher_val)

-1.156945 0.34134499999999995

In [91]:
# detect outliers from colum openess_to_experience
data=[-0.4455, 0.8637, 0.6721, -0.9194, -0.1295]

In [92]:
outliers=[]
def detect_outlier(data):
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i - mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [93]:
outlier_pt = detect_outlier(data)
outlier_pt

[]

In [94]:
sorted(data)

[-0.9194, -0.4455, -0.1295, 0.6721, 0.8637]

In [95]:
quantile1 , quantile3 = np.percentile(data,[25,75])
print(quantile1, quantile3)

-0.4455 0.6721

In [96]:
iqr_value = quantile3 - quantile1
print(iqr_value)

1.1176

In [97]:
lower_val =  quantile1 - (1.5 * iqr_value)

higher_val =  quantile1 + (1.5 * iqr_value)

print(lower_val , higher_val)

-2.1219 1.2308999999999999